{% extends 'basic.html' %}
{% load static %}
{% block titleName %} Home Page {% endblock titleName %}
{% block body %}
<div class="container my-4">
  {% if userLogin %}

      <h1 class='text-center'>Your TODO</h1>
 
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      {% endif %}

      {% if data|length == 0 %}

        <div class="alert alert-dark" role="alert">
          You have a No <strong> TODO </strong> record. Please <a href="{% url 'Create' %}" class="alert-link">Create a TODO</a>. click if you like.
        </div>

      {% else %}

        <table class="table">
          <thead>
            <tr class="table-dark">
              <th scope="col">S/No.</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">DateTime</th>
              <th scope="col">Delete</th>
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody>
            {% for object in data %}
              {% if object.Important %}
                <tr class="table-danger">
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{object.Title}}</td>
                  <td>{{object.Description}}</td>
                  <td>{{object.DateTime}}</td>
                  <td>
                    <a class="btn btn-dark btn-sm" href="{% url 'Delete' object.id forloop.counter %}" role="button">Delete</a>
                  </td>
                  <td>
                    <a class="btn btn-dark btn-sm" href="{% url 'Update' object.id forloop.counter %}" role="button">Update</a>
                  </td>
                </tr>
              {% else %}
                <tr class="table-success">
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{object.Title}}</td>
                  <td>{{object.Description}}</td>
                  <td>{{object.DateTime}}</td>
                  <td>
                    <a class="btn btn-dark btn-sm" href="{% url 'Delete' object.id forloop.counter %}" role="button">Delete</a>
                  </td>
                  <td>
                    <a class="btn btn-dark btn-sm" href="{% url 'Update' object.id forloop.counter %}" role="button">Update</a>
                  </td>
                </tr>
              {% endif %}
              
            {% endfor %}
            
          </tbody>
        </table>
      {% endif %}
    {% else %}
    <div class="container text-center">
      <img src="{% static 'img/todo_logo.svg' %}" />
      <h1>Welcome User in TODO web Application.</h1>
    </div>
  {% endif %}
</div>
{% endblock body %}